<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RTU master station</title>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <p> Current temperaure is <span id="cur_temp"></span></p>
    <p> Current Humidity is <span id="cur_hum"></span></p>
    <p>History</p>
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <tbody id = "history2">
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-striped">
            <tbody id = "history3">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
