<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RTU master station</title>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Alarm Master</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id = "new_rtu"  onsubmit="submit_rtu_data()">
          <input type="text" class="form-control mr-sm-2" id="ip_address" placeholder="IP address">
          <input type="text" class="form-control mr-sm-2" id="port" placeholder="Port">
          <input type="text" class="form-control mr-sm-2" id="device_id" placeholder="Device id">
          <button type="submit" class="btn btn-success my-2 my-sm-0">Submit</button>
        </form>
      </div>
    </nav>


    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-sm-auto">
          <h1>Welcome to the Master monitoring station!</h1>
          <h3>To add new remote units to monitor, please fill out the ip address, port and the id of the unit to monitor</h3>
        </div>
      </div>
      <div class="row">
      <div class="row">
        <div class="col">
          <h4>Current temperature is <span id="temp2"></span>F</h4>
          <h4>Current humidity is <span id="hum2"></span></h4>
          <h4><span id="alarm2"></span></h4>
          <p>History</p>
          <table class="table table-striped">
            <tbody id = "history2">
            </tbody>
          </table>
        </div>
        <div class="col">
          <h4>Current temperature is <span id="temp3"></span>F</h4>
          <h4>Current humidity is <span id="hum3"></span></h4>
          <h4><span id="alarm3"></span></h4>
          <p>History</p>
          <table class="table table-striped">
            <tbody id = "history3">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
